      <section class="home hidden">
        <div class=""></div>

        <header>
          <h1><span class="exfe-title">EXFE</span> <small>[‘ɛksfi]</small></h1>
          <p>The group utility for gathering.</p>
        </header>

        <div class="exfe-logo">
          <img alt="" src="/production/img/exfe_320@2x.png" width="640" height="600" />
        </div>

        <button class="xbtn-start x">Start</button>

        <div class="intros">
          <div class="clearfix intro introduction">
            <img alt="" src="/production/img/home_intro@2x.png" width="486" height="201" />
              <p>Time, place, attendees status, conversation…</p>
              <p class="pb">All in a nutshell.</p>
              <p>Save yourself from calling every one RSVP repeatedly, or losing in endless emails messages off-the-point.</p>
          </div>

          <div class="clearfix intro invitation">
            <img alt="" src="/production/img/home_invitation@2x.png" width="253" height="190" align="right" />
            <div class="desc">
              <p class="pb">Private by default, invite-only access.</p>
              <p>Forget privileges. Set RSVP response for friends, update time and place details collaboratively.</p>
            </div>
          </div>

          <div class="clearfix intro connected">
            <img alt="" src="/production/img/home_connected@2x.png" width="225" height="380" align="left" />
            <div class="pull-right desc">
              <p class="pb">Connect across contact methods. Email, Message, Facebook, Twitter, even calendar and more to come.</p>
              <p>Leverage your handiest tool for gathering. Keep updated, stay cool.</p>
            </div>
          </div>

          <div class="clearfix intro rocket">
            <img alt="" src="/production/img/home_rocket@2x.png" width="156" height="680" align="right" />
            <div class="desc">
              <p class="pb">Start-n-Play straightaway.</p>
              <p>No sign-up, no group set-up, no friend requests or annoying viral invites… no forced app download.</p>
              <p><a href="http://itunes.apple.com/app/exfe/id514026604" target="_blank" class="detail">(well… iPhone app is <span class="underline">available</span> though ;)</a></p>
            </div>
          </div>

          <div class="clearfix intro emails">
            <img alt="" src="/production/img/home_emails@2x.png" width="234" height="340" align="left" />
            <div class="pull-right desc">
              <p class="pb">Simply cc <a class="x-email" href="mailto:x@exfe.com">x@exfe.com</a>. Well done.</p>
              <p>Say hello to digest email clear and updated, appointments in calendar, final reminding, and discover more…</p>
            </div>
          </div>
        </div>
      </section>
