html, body {
  margin: 0;
  padding: 0;
  /*-webkit-overflow-scrolling: touch;*/
}

@-webkit-keyframes mmfadeIn {
  to { opacity: 1; }
}
@-moz-keyframes mmfadeIn {
  to { opacity: 1; }
}
@-ms-keyframes mmfadeIn {
  to { opacity: 1; }
}
@-o-keyframes mmfadeIn {
  to { opacity: 1; }
}
@keyframes mmfadeIn {
  to { opacity: 1; }
}
@-webkit-keyframes mmtrans {
  from { -webkit-transform: translateZ(2584px); }
  to { -webkit-transform: translateZ(0px); }
}
@-moz-keyframes mmtrans {
  from { -moz-transform: translateZ(2584px); }
  to { -moz-transform: translateZ(0px); }
}
@-ms-keyframes mmtrans {
  from { -ms-transform: translateZ(2584px); }
  to { -ms-transform: translateZ(0px); }
}
@-o-keyframes mmtrans {
  from { -o-transform: translateZ(2584px); }
  to { -o-transform: translateZ(0px); }
}
@keyframes mmtrans {
  from { transform: translateZ(2584px); }
  to { transform: translateZ(0px); }
}

.start-mnem {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  transform-style: flat;
  overflow-y: hidden;
  background-color: black;
  -webkit-perspective: 0;
  -moz-perspective: 0;
  -ms-perspective: 0;
  -o-perspective: 0;
  perspective: 0;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translateZ(-999999px);
  -moz-transform: translateZ(-999999px);
  -ms-transform: translateZ(-999999px);
  -o-transform: translateZ(-999999px);
  transform: translateZ(-999999px);
}

.mnem-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;

  -webkit-perspective: 0;
  -moz-perspective: 0;
  -ms-perspective: 0;
  -o-perspective: 0;
  perspective: 0;

  visibility: visible;
}

.mnemosyne:focus {
  outline: none;
}

.mnemosyne {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#a0d3ef), color-stop(0.016, #86acdc), color-stop(0.056, #35598a), color-stop(0.105, rgba(21, 26, 33, 0.85)), to(rgba(87, 95, 159, 0.06))), url(../../../production/img/bg_pattern.png) #000000;
  background: -moz-linear-gradient(90deg, #a0d3ef 0%, #86acdc 1.6%, #35598a 5.6%, rgba(21, 26, 33, 0.85) 10.5%, rgba(87, 95, 159, 0.06) 100%), url(../../../production/img/bg_pattern.png) #000000;
  opacity: 0;

  -webkit-perspective: 300;
  -moz-perspective: 300;
  -ms-perspective: 300;
  -o-perspective: 300;
  perspective: 300;

  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.mnemosyne.animate {
  /* 1.597s */
  -webkit-animation: mmfadeIn 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) .2s 1 forwards;
  -moz-animation: mmfadeIn 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) .2s 1 forwards;
  -ms-animation: mmfadeIn 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) .2s 1 forwards;
  -o-animation: mmfadeIn 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) .2s 1 forwards;
  animation: mmfadeIn 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) .2s 1 forwards;
}

.mnemosyne .gallery-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 88px;
  padding-bottom: 40px;
  overflow-x: scroll; /* overflow 影响 3d */
  opacity: 0;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;

  -webkit-perspective: 1800;
  -moz-perspective: 1800;
  -ms-perspective: 1800;
  -o-perspective: 1800;
  perspective: 1800;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.mnemosyne.animate .gallery-wrapper {
  /* 1.6s 1s */
  -webkit-animation: mmfadeIn 1.6s ease-in-out .7s 1 forwards, mmtrans 1s cubic-bezier(.215, .61, .355, 1) .7s 1 backwards;
  -moz-animation: mmfadeIn 1.6s ease-in-out .7s1 1 forwards, mmtrans 1s cubic-bezier(.215, .61, .355, 1) .7s 1 backwards;
  -ms-animation: mmfadeIn 1.6s ease-in-out .7s 1 forwards, mmtrans 1s cubic-bezier(.215, .61, .355, 1) .7s 1 backwards;
  -o-animation: mmfadeIn 1.6s ease-in-out .7s 1 forwards, mmtrans 1s cubic-bezier(.215, .61, .355, 1) .7s 1 backwards;
  animation: mmfadeIn 1.6s ease-in-out .7s 1 forwards, mmtrans 1s cubic-bezier(.215, .61, .355, 1) .7s 1 backwards;
}

.mnemosyne .gallery {
  visibility: visible;
  height: 100%;
  opacity: 1;
  padding-left: 24px;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  /*
  -webkit-transition: -webkit-transform .5s ease-in-out, opacity .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out, opacity .5s ease-in-out;
  -ms-transition: -ms-transform .5s ease-in-out, opacity .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out, opacity .5s ease-in-out;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  */
}

.mnemosyne .gsw {
  opacity: 0.1;
  -webkit-transform: translateZ(-610px);
  -moz-transform: translateZ(-610px);
  -ms-transform: translateZ(-610px);
  -o-transform: translateZ(-610px);
  transform: translateZ(-610px);
}

.mnemosyne .mm-hide {
  opacity: 0;
  /*
  -webkit-transform: translateZ(-610px);
  -moz-transform: translateZ(-610px);
  -ms-transform: translateZ(-610px);
  -o-transform: translateZ(-610px);
  transform: translateZ(-610px);
  */
}

.mnemosyne .figure {
  position: absolute;
  cursor: pointer;
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
}

.mnemosyne .surface {
  position: absolute;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-tap-highlight-color: transparent;
}

.mnemosyne .gallery .figure {
  -webkit-transition: background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out, -moz-box-shadow .15s ease-in-out;
  -ms-transition: background-color .15s ease-in-out, -ms-box-shadow .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, -o-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mnemosyne .gallery .photo {
  position: relative;
  height: 100%;
  overflow: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  background-color: rgba(255, 255, 255, .05);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, .12) inset;
  -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, .12) inset;
  -ms-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, .12) inset;
  -o-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, .12) inset;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, .12) inset;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

  -webkit-transition: -webkit-transform .15s ease-in-out, background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -moz-transition: -moz-transform .15s ease-in-out, background-color .15s ease-in-out, -moz-box-shadow .15s ease-in-out;
  -ms-transition: -ms-transform .15s ease-in-out, background-color .15s ease-in-out, -ms-box-shadow .15s ease-in-out;
  -o-transition: -o-transform .15s ease-in-out, background-color .15s ease-in-out, -o-box-shadow .15s ease-in-out;
  transition: transform .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mnemosyne .gallery .photo .photo-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.12) inset,0 1px 0 rgba(255,255,255,0.2) inset;
  -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.12) inset,0 1px 0 rgba(255,255,255,0.2) inset;
  -ms-box-shadow: 0 0 0 1px rgba(255,255,255,0.12) inset,0 1px 0 rgba(255,255,255,0.2) inset;
  -o-box-shadow: 0 0 0 1px rgba(255,255,255,0.12) inset,0 1px 0 rgba(255,255,255,0.2) inset;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.12) inset,0 1px 0 rgba(255,255,255,0.2) inset;

  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -ms-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.mnemosyne .gallery .photo .pic {
  display: block;
  position: relative;
  max-width: none;
  max-height: none;
  opacity: 0;
  z-index: -1;
}

.mnemosyne .gallery .photo .pic.animate {
  -webkit-animation: mmfadeIn 1s cubic-bezier(.215, .61, .355, 1) 1 forwards;
  -moz-animation: mmfadeIn 1s cubic-bezier(.215, .61, .355, 1) 1 forwards;
  -ms-animation: mmfadeIn 1s cubic-bezier(.215, .61, .355, 1) 1 forwards;
  -o-animation: mmfadeIn 1s cubic-bezier(.215, .61, .355, 1) 1 forwards;
  animation: mmfadeIn 1s cubic-bezier(.215, .61, .355, 1) 1 forwards;
}

.mnemosyne .gallery .photo-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  color: #808080;
  overflow: hidden;
}

.mnemosyne .gallery .photo-meta .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.mnemosyne .gallery .figure-hover {
  z-index: 2;
  background-color: rgba(255, 255, 255, .9);
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 12px rgba(0, 0, 0, .4);
  -ms-box-shadow: 0 1px 12px rgba(0, 0, 0, .4);
  -o-box-shadow: 0 1px 12px rgba(0, 0, 0, .4);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, .4);
}

.mnemosyne .gallery .figure-hover .photo {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.mnemosyne .gallery .figure-hover .photo-mask {
  background-color: rgba(255, 255, 255, .04);
}

.photos-padding-right {
  position: absolute;
  height: 100%;
}

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(999px);
  -moz-transform: translateZ(999px);
  -ms-transform: translateZ(999px);
  -o-transform: translateZ(999px);
  transform: translateZ(999px);
  -webkit-perspective: 0;
  -moz-perspective: 0;
  -ms-perspective: 0;
  -o-perspective: 0;
  perspective: 0;
  opacity: 0;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.slideshow.animate {
  z-index: 1;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}

.slideshow .photos {
  position: relative;
  width: auto;
  height: 100%;
}

.slideshow .photo {
  display: block;
  position: absolute;
  max-width: none;
  max-height: none;

  -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
  -moz-transition: -moz-transform .4s ease-in-out, opacity .4s ease-in-out;
  -ms-transition: -ms-transform .4s ease-in-out, opacity .4s ease-in-out;
  -o-transition: -o-transform .4s ease-in-out, opacity .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.slideshow .prev-photo {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
}

.slideshow .next-photo {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  right: 0;
}

.slideshow .no-trans {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}


.preserve3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.no-pe {
  pointer-events: none;
}
.
.pe {
  pointer-events: auto;
}

.translateZ0 {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.no-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

.transform-style00 {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
